<!DOCTYPE html>
<html>
<head>
    <title>BDEA Project 2</title>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">-->
    <!-- for debug only-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css', _t=time.time()) }}">
</head>
<body>
    
    <div class="header">
        <h1>BDEA Project 2</h1>
    </div>
    <h2>Upload Files</h2>
    <div id="drop_zone">Drop files here</div>
    <form id="upload_form" method="post" enctype="multipart/form-data" action="/upload">
        <input type="file" id="file_input" name="files[]" multiple>
        <input type="submit" value="Upload">
    </form>
    <h2>Files</h2>
        <p>Files in the upload folder:</p>
        <ul>
            {% for file in files %}
                <li><a href="{{ url_for('process_file', filename=file) }}">{{ file }}</a></li>
            {% endfor %}
        </ul>
    <p></p>
    <h2>Batch WordCount</h2>
    <form action="/wordcount" method="post">
        <button type="submit">WordCount</button>
    </form>

    <script>
        var dropZone = document.getElementById('drop_zone');
        var fileInput = document.getElementById('file_input');
    
        // When a file is dragged over the drop zone
        dropZone.ondragover = function(event) {
            event.preventDefault();
            this.style.backgroundColor = '#ccc';
        };
    
        // When a file is dropped on the drop zone
        dropZone.ondrop = function(event) {
            event.preventDefault();
            this.style.backgroundColor = '';
            fileInput.files = event.dataTransfer.files;
        };
    
        // When a file is dragged out of the drop zone
        dropZone.ondragleave = function() {
            this.style.backgroundColor = '';
        };
    </script>
</body>
</html>

